h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

section {
  padding: 20px;
}

.movieDetails {
  display: flex;
  gap: 16px;
}

.movieDetails__img {
  object-fit: cover;
}

.movieDetails__desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movieDetails__info {
  border-top: 1px solid rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

.movieDetails__nav {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 16px;
}

.reviewsList,
.reviewsItem{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviewsItem {
  gap: 16px;
}

.reviewsAuthor {
  font-weight: 700;
}