.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;

  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navLink {
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  color: teal;
  text-decoration: underline;
}

.section {
  padding: 8px 0;
}

.container {
  padding: 0 20px;
}